{% extends 'base_generic.html' %}

{% block content %}
    <div class="sub-title">
        Orphanage Login
        <a class="link-in-subtitle-bar" href="{% url 'signup' %}">Signup</a>
    </div>


    <div class="form-wrap-div login-form-wrap">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}

    {#        Login<hr>#}

            <table>
                <tr>
                    <td>
{#                        {% if form.errors %}#}
{#                            {% for key, err in form.errors.items %}#}
{##}
{#                            <span>{{ err}}</span>#}
{##}
{#                            {% endfor %}#}
{#                            <p class="form-error">Your user name and password didn't match.<br>Please try again</p>#}
{#                        {% endif %}#}
                        {% if error == 'in_active' %}
                            <span class="form-error">Your account has not been activated yet, please contact
                                <a class="green-link" href="mailto:yehyaumar@gmail.com?Subject=Activate%20Account"
                                   target="_top">Admin</a> to activate your account.</span>
                        {% elif error == 'incorrect'%}
                            <span class="form-error">Email or password is incorrect.
                                Note that both fields may be case-sensitive</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
    {#                <td>{{ form.username.label_tag }}</td>#}
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
    {#                <td>{{ form.password.label_tag }}</td>#}
                    <td>{{ form.password }}</td>
                </tr>
                <tr>
                    <td class="submit-td">
                        <input type="submit" value="Login">

                    </td>
                </tr>
            </table>
            <a class="bold-links" href="{% url 'password_reset' %}">Lost password?</a>

        </form>


    </div>
{% endblock %}