{% extends 'base_generic.html' %}

{% block title %}
Reset your password | Hope for Orphans
{% endblock %}

{% block content %}
    <div class="form-wrap-div login-form-wrap">
        <form method="post" action="{% url 'password_reset' %}">
            {% csrf_token %}
            {% if form.errors %}
                <p class="form-error">{{ form.errors }}</p>
            {% endif %}
            <table>
                <tr>
                    <td class="col-label">Enter your email address and we'll send you a link to reset your password</td>
                </tr>
                <tr>
                    <td>
                        {{ form.email }}
                    </td>
                </tr>
                <tr>
                    <td class="submit-td">
                        <input type="submit" value="Reset">
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}