{% extends 'base_generic.html' %}

{% block title %}
Reset your password | Hope for Orphans
{% endblock %}

{% block content %}
    <div class="content-central">
        <div class="information-div">
            Check your email for a link to reset your password. If it doesn't appear within a few minutes,
            check your spam folder.
            <p class="reset-td">
                <a href="{% url 'login' %}" class="reset-link-btn">Return to login</a>
            </p>
        </div>
    </div>
{% endblock %}