{% extends 'base_generic.html' %}

{% block title %}
    Change password
{% endblock %}

{% block content %}
    <div class="form-wrap-div login-form-wrap">
        <form method="post" novalidate>
            {% csrf_token %}
            {% if form.errors %}
                <p class="form-error">{{ form.errors }}</p>
            {% endif %}

            <div class="form-headings">Change password</div>
            <table>
                <tr>
                    <td>{{ form.old_password }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td class="submit-td">
                        <input type="submit" value="Save">
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}