{% extends 'base_generic.html' %}

{% block title %}
    {% if validlink %}
        Change password for {{ form.user.email }}
    {% else %}
        Reset your password | Hope for Orphans
    {% endif %}
{% endblock %}
{% block content %}
    <div class="form-wrap-div login-form-wrap">
        {% if validlink %}
            <form method="post" novalidate>
                {% csrf_token %}
                {% if form.errors %}
                    <p class="form-error">{{ form.errors }}</p>
                {% endif %}

                <div class="form-headings">Change password for {{ form.user.email }}</div>
                <table>
                    <tr>
                        <td>{{ form.new_password1 }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.new_password2 }}</td>
                    </tr>
                    <tr>
                        <td class="submit-td">
                            <input type="submit" value="Save">
                        </td>
                    </tr>
                </table>
            </form>
        {% else %}
            <div class="form-headings">Reset your password</div>
            <table>
                <tr>
                    <td>
                        <div class="col-label col-label-center">
                            It looks like you clicked on an invalid password reset link. Please try again.
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="reset-td">
                        <a href="{% url 'password_reset' %}" class="reset-link-btn">
                            Request a new password reset link</a>
                    </td>
                </tr>


            </table>
        {% endif %}
    </div>

{% endblock %}