{% extends "base_generic.html" %}

{% block content %}
    <div class="sub-title">Orphanage Signup</div>

    <div class="form-wrap-div">

    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}

        {% if user_form.errors%}
            <p class="form-error">{{ user_form.errors }}</p> <br>
        {% endif %}

        {% if profile_form.errors%}
            <p class="form-error">{{ profile_form.errors }}</p> <br>
        {% endif %}

        {% if contact_form.errors%}
            <p class="form-error">{{ contact_form.errors }}</p> <br>
        {% endif %}

        {% if address_form.errors%}
            <p class="form-error">{{ address_form.errors }}</p> <br>
        {% endif %}

        <table>
            <tr>
{#                <td>{{ user_form.email.label_tag }}</td>#}
                <td colspan="2">{{ user_form.email }}</td>
            </tr>
            <tr>
{#                <td>{{ user_form.password1.label_tag }}</td>#}
                <td>{{ user_form.password1 }}</td>
                <td>{{ user_form.password2 }}</td>

            </tr>

            <tr>
{#                <td>{{ profile_form.name.label_tag }}</td>#}
                <td colspan="2">{{ profile_form.name }}</td>
{#                <td>{{ profile_form.name.help_text }}</td>#}
            </tr>
            <tr>
{#                <td>{{ profile_form.reg_num.label_tag }}</td>#}
                <td colspan="2">{{ profile_form.reg_num }}</td>
{#                <td>{{ profile_form.reg_num.help_text }}</td>#}
            </tr>
            <tr>
{#                <td>{{ address_form.locality.label_tag }}</td>#}
                <td colspan="2">{{ address_form.locality }}</td>

            </tr>
            <tr>
                <td>{{ address_form.city }}</td>
                <td>{{ address_form.zip_pin_code }}</td>
            </tr>
            <tr>
{#                <td>{{ address_form.state.label_tag }}</td>#}
                <td>{{ address_form.state }}</td>
                <td>{{ address_form.country }}</td>

            </tr>
            <tr>
{#                <td>{{ address_form.country.label_tag }}</td>#}
            </tr>
            <tr>
{#                <td>{{ contact_form.phone_number.label_tag }}</td>#}
                <td>{{ contact_form.phone_number }}</td>
                <td>{{ contact_form.mobile_number }}</td>

            </tr>

            <tr>
{#                <td>{{ contact_form.mobile_number.label_tag }}</td>#}
            </tr>

            <tr>
{#                <td>{{ contact_form.website.label_tag }}</td>#}
                <td colspan="2">{{ contact_form.website }}</td>
            </tr>
             <tr>
{#                <td>{{ profile_form.brief_desc.label_tag }}</td>#}
                <td colspan="2">{{ profile_form.brief_desc }}</td>
{#                <td>{{ profile_form.brief_desc.help_text }}</td>#}
            </tr>
             <tr>
                 <td colspan="2"><label id="file_label" for="file_upload">Upload Image</label></td>
                <td>{{ profile_form.display_pic}}</td>
{#                <td>{{ profile_form.display_pic.help_text }}</td>#}
            </tr>

        </table>
        <input type="submit" value="Sign Up">

    </form>

    </div>

{% endblock %}