{% extends 'base_generic.html' %}

{% block content %}
    <div class="content-central">
        <div class="information-div">
            <span class="info-span">{{ success_data.first_name }}</span>, your donation of <span class="info-span">
            Rs. {{ success_data.amount_donated }}</span> to <span class="info-span">{{ success_data.donated_to.name }}</span>
            has been successful. We hope you'll continue to contribute in the future as well.
        </div>
    </div>
{% endblock %}