{% extends 'base_generic.html' %}
{% load static %}

{% block content %}

    <div class="banner-image-div">

        <div class="background-div">

            <div class="intro-text-div intro-text-div-left">
                <div class="intro-text-content">
                    A dedicated platform for orphanages<br>
                    to get recognised for their hard work<br>
                    and contribution in building a better<br>
                    future by raising the future<br>
                    generation<br>
                </div>
            </div>

            <div class="intro-text-div intro-text-div-right">
{#                <div class="intro-text-heading">#}
{#                    What we do#}
{#                </div>#}

                <div class="intro-text-content ">
                    An open platform for dedicated<br>
                    Orphanages to get support from donors,<br>
                    foster parents, sponsors, aspiring<br>
                    volunteers from world over<br>
                </div>
            </div>

        </div>



    </div>

{% endblock %}