{% extends 'base_generic.html' %}
{% load static %}

{% block content %}

    <div class="banner-image-div">

        <div class="background-div">

            <div class="intro-text-div intro-text-div-left">
                <div class="intro-text-heading">
                    Who we are
                </div>
                <div class="intro-text-content ">
                    We are passionate bla bla bla<br>
                    We are passionate bla bla bla<br>
                    jhdshd siudhciush sjdhjhdsf js<br>
                    skjdhjsdhjkkjsdhjksfdjsdjhdsfjhddds<br>
                    skjbhjhdbsfhjbjsbchjdbschjfdihiu<br>
                    skjdhdksfh
                </div>
            </div>

            <div class="intro-text-div intro-text-div-right">
                <div class="intro-text-heading">
                    What we do
                </div>
                <div class="intro-text-content">
                    We are passionate bla bla bla<br>
                    We are passionate bla bla bla<br>
                    jhdshd siudhciush sjdhjhdsf js<br>
                    skjdhjsdhjkkjsdhjksfdjsdjhdsfjhddds<br>
                    skjbhjhdbsfhjbjsbchjdbschjfdihiu<br>
                    skjdhdksfh
                </div>
            </div>

        </div>



    </div>

{% endblock %}