{% extends 'base_generic.html' %}

{% block content %}

    <div class="sub-title">
        List of orphans from {{ orphanage.name }}
        {% if user.is_authenticated and user.email == orphanage.user.email %}
            <a class="link-in-subtitle-bar" href="{% url 'add-orphan' %}">Add Orphan</a>
        {% endif %}

    </div>



    <div class="content-central">
        {% if orphans %}
            <div class="list-labels orphans-list-label">
                <div>Name</div>
                <div>Status</div>
            </div>
            <div class="accordian">
                {% for o in orphans %}
                    <div class="card-div" id="accordian-card">
                        {#                    <div class="dp-div">#}
                        {#                        <img class="orphan-avatar" src="{{ o.avatar.url }}">#}
                        {#                    </div>#}
                        <div class="name-div">
                            <a class="card-orphan-link">{{ o.first_name }} {{ o.last_name }}</a>
                            <a class="card-orphanage-link" href="
                                {% if user.is_authenticated and user.email == orphanage.user.email %}{% url 'profile' %}
                                {% else %}{% url 'orphanage_view' o.orphanage.pk %}
                                {% endif %}">
                                {{ o.orphanage.name }}
                            </a>
                        </div>
                        <span class="status-span {% if o.status == 'a' %}status-span-green
                                {% elif o.status == 'n' %}status-span-blue{% else %}status-span-black{% endif %}">
                            {{ o.get_status_display }}
                        </span>
                    </div>
                    <div class="card-div-content">
                        <div class="card-div-content-wrapper">
                            <span class="orphans-pk" style="display: none">{{ o.pk }}</span>

                            <div class="age-gender-div">
                                <span class="age-gender-label">Age</span>
                                <span class="age-gender-content">{{ o.calculate_age }}</span>
                            </div>

                            <div class="age-gender-div">
                                <span class="age-gender-label">Gender</span>
                                <span class="age-gender-content">{{ o.get_gender_display }}</span>
                            </div>

                            <div class="card-buttons">
                                {#                                <a class="link-buttons" href="">Sponsor</a>#}
                                {#                                <a class="link-buttons" href="">Adoption Request</a>#}
                                {% if user.is_authenticated and user.email == orphanage.user.email %}
                                    <input class="red-buttons edit-buttons" id="" type="button" value="Edit">
                                    <input class="red-buttons delete-buttons" id="" type="button" value="Delete">
                                {% else %}
                                    <a class="red-buttons" href="">Sponsor</a>
                                    {% if o.status == 'a' %}
                                        <span class="red-buttons adopt-request">Adoption Request</span>
                                    {% endif %}
                                {% endif %}

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p style="text-align: center">No orphans added yet</p>
        {% endif %}
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
        </div>
    </div>

{% endblock %}
