{% extends 'base_generic.html' %}

{% block content %}

    <div class="sub-title">
        List of orphans from all Orphanages
        {#        <a class="link-in-subtitle-bar" href="{% url 'add-orphan' %}">Add Orphan</a>#}

    </div>
    <div class="content-central">
        {% if orphans %}
            <div class="list-labels orphans-list-label">
                <div>Name</div>
                <div>Adoption Status</div>
            </div>
            <div class="accordian">
                {% for o in orphans %}
                    <div class="card-div" id="accordian-card">
                        {#                    <div class="dp-div">#}
                        {#                        <img class="orphan-avatar" src="{{ o.avatar.url }}">#}
                        {#                    </div>#}
                        <div class="name-div">
                            <a class="card-orphan-link">{{ o.first_name }} {{ o.last_name }}</a>
                            <a class="card-orphanage-link"
                               href="{% url 'orphanage_view' o.orphanage.pk %}">{{ o.orphanage.name }}</a>
                        </div>
                        <span class="status-span {% if o.status == 'a' %}status-span-green
                                {% elif o.status == 'n' %}status-span-blue{% else %}status-span-black{% endif %}">
                            {{ o.get_status_display }}
                        </span>
                    </div>
                    <div class="card-div-content">
                        <div class="card-div-content-wrapper">
                            <span class="orphans-pk" style="display: none">{{ o.pk }}</span>

                            <div class="age-gender-div">
                                <span class="age-gender-label">Age</span>
                                <span class="age-gender-content">{{ o.calculate_age }}</span>
                            </div>

                            <div class="age-gender-div">
                                <span class="age-gender-label">Gender</span>
                                <span class="age-gender-content">{{ o.get_gender_display }}</span>
                            </div>

                            <div class="card-buttons">
                                {#                                <a class="link-buttons" href="">Sponsor</a>#}
                                {#                                <a class="link-buttons" href="">Adoption Request</a>#}
                                {#                                {% if user.is_authenticated %}#}
                                {#                                    <input class="red-buttons edit-buttons" id="" type="button" value="Edit">#}
                                {#                                    <input class="red-buttons delete-buttons" id="" type="button" value="Delete">#}
                                {#                                {% else %}#}
{#                                <a class="red-buttons" href="">Sponsor</a>#}
                                {% if o.status == 'a' %}
                                    <span class="red-buttons adopt-request">Adoption Request</span>
                                {% endif %}
                                {#                                {% endif %}#}

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p style="text-align: center">No orphans added yet</p>
        {% endif %}
    </div>

    {% if orphans.has_other_pages %}
{#        <div class="pagination-div">#}
            <ul class="pagination">
                {% if orphans.has_previous %}
                    <li><a href="?page={{ orphans.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="pagination-disabled"><span>&laquo;</span></li>
                {% endif %}

                {% for i in orphans.paginator.page_range %}
                    {% if orphans.number == i %}
                        <li><span class="pagination-active">{{ i }}</span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if orphans.has_next %}
                    <li><a href="?page={{ orphans.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="pagination-disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
{#        </div>#}
    {% endif %}

    <div id="myModal" class="modal">
        <div class="modal-content">
        </div>
    </div>
{% endblock %}