{% extends 'base_generic.html' %}

{% block content %}
    <div class="sub-title">
        List of all Orphanages
        {#        <a class="link-in-subtitle-bar" href="{% url 'add-orphan' %}">Add Orphan</a>#}

    </div>
    <div class="content-central">
        {% if orphanages %}
            <div class="list-labels orphanage-list-label">
                <div>Name</div>
                <div>No. of Orphans</div>
            </div>

            {% for orphanage in orphanages %}
                {% if orphanage.activated %}


                <div class="card-div">

                    <div class="dp-div">
                        <img class="orphan-avatar" src="{{ orphanage.display_pic.url }}">
                    </div>

                    <div class="name-div name-div-orphanage">
                        <a class="orphanage-link-list"
                           href="{% url 'orphanage_view' orphanage.pk %}">{{ orphanage.name }}</a>
                        {{ orphanage.address.state }}
                    </div>
                    <div style="align-self: center">
                        {{ orphanage.orphan_set.count }}
                    </div>

                </div>
                {% endif %}
            {% endfor %}

        {% else %}
            <p style="text-align: center">No orphanages added yet</p>
        {% endif %}


    </div>
    {% if orphanages.has_other_pages %}
        <ul class="pagination">
            {% if orphanages.has_previous %}
                <li><a href="?page={{ orphanages.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="pagination-disabled"><span>&laquo;</span></li>
            {% endif %}

            {% for i in orphanages.paginator.page_range %}
                {% if orphanages.number == i %}
                    <li><span class="pagination-active">{{ i }}</span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if orphanages.has_next %}
                <li><a href="?page={{ orphanages.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="pagination-disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}